$def with (content)

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>Wikipedia article traffic statistics</title>

<link rel=stylesheet type="text/css" media="screen" href="/static/css/wikistats.css">

<script type="text/javascript">
	function sf() {
		document.getElementById("ib1").focus();
	}
</script>

<script type="text/javascript">
	/*           */
	(function() {
		var s = document.createElement('script'), t = document
				.getElementsByTagName('script')[0];

		s.type = 'text/javascript';
		s.async = true;
		s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto';

		t.parentNode.insertBefore(s, t);
	})();
	/*     */
</script>


<!--if IE>
    <script type="text/javascript" src="/static/js/excanvas.js"></script>
<!endif-->
    
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/dygraphs/dygraphs-combined.js"></script>


</head>

<body onLoad="sf();">

  <h1>Wikipedia article traffic statistics</h1>
  <hr style="width:500px; border: 0px; border-top: 1px dotted grey; margin-left:0px">
  $:content


<p style="font-size: 0.7em">
  <a href="/about">About these stats</a>. The raw data is available <a
  href="http://dumps.wikimedia.org/other/pagecounts-raw/">here</a>.
  This is very much a beta service and may disappear or change at any
  time.
</p>

</body>
</html>
