$def with (content)

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<!-- All of the CSS and layout came from an example at http://meyerweb.com/eric/css/edge/bargraph/demo.html. -->

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>Wikipedia article traffic statistics</title>

<link rel=stylesheet type="text/css" media="screen" href="/static/css/wikistats.css">

<script type="text/javascript">
	function sf() {
		document.getElementById("ib1").focus();
	}
</script>

<script type="text/javascript">
	/*           */
	(function() {
		var s = document.createElement('script'), t = document
				.getElementsByTagName('script')[0];

		s.type = 'text/javascript';
		s.async = true;
		s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto';

		t.parentNode.insertBefore(s, t);
	})();
	/*     */
</script>


<!--[if lt IE 9]><script language="javascript" type="text/javascript" src="/static/jqplot/excanvas.js"></script><![endif]-->
<script language="javascript" type="text/javascript" src="/static/jqplot/jquery.min.js"></script>
<script language="javascript" type="text/javascript" src="/static/jqplot/jquery.jqplot.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/jqplot/jquery.jqplot.css" />
<script type="text/javascript" src="/static/jqplot/plugins/jqplot.barRenderer.min.js"></script>
<script type="text/javascript" src="/static/jqplot/plugins/jqplot.categoryAxisRenderer.min.js"></script>
<script type="text/javascript" src="/static/jqplot/plugins/jqplot.pointLabels.min.js"></script>
<script type="text/javascript" src="/static/jqplot/plugins/jqplot.dateAxisRenderer.min.js"></script>
<script type="text/javascript" src="/static/jqplot/plugins/jqplot.highlighter.min.js"></script>
<script type="text/javascript" src="/static/jqplot/plugins/jqplot.cursor.min.js"></script>
<script type="text/javascript" src="/static/jqplot/plugins/jqplot.dateAxisRenderer.min.js"></script>
</head>

<body onLoad="sf();">

  <h2>Wikipedia article traffic statistics</h2>
  
  $:content


<p style="font-size: 0.7em">
  <a href="/about">About these stats</a>. The raw data is available <a
  href="http://dumps.wikimedia.org/other/pagecounts-raw/">here</a>.
  This is very much a beta service and may disappear or change at any
  time.
</p>

</body>
</html>
