<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<!-- All of the CSS and layout came from an example at http://meyerweb.com/eric/css/edge/bargraph/demo.html. -->

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>Wikipedia article traffic statistics</title>

<link rel=stylesheet type="text/css" media="screen" href="/static/css/wikistats.css">
</head>
<body>
  The server is currently recovering from database overload, normal service will be resumed as soon as the disks stop melting.

  <div style="float: right">
<a class="FlattrButton" style="display:none;" rev="flattr" href="http://stats.grok.se"></a>
</div>
<div style="clear:both;"></div>
</body>
</html>
