html {
	background: #909AA9;
}

body {
	background: #FFF;
	margin: 0 5%;
	padding: 1em;
	border: 0px solid gray;
	font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}

h1 {
	font: bold 2em/0.85 Arial, sans-serif;
	text-align: center;
	letter-spacing: 1px;
	margin: 1em -0.5em;
	padding: 0 0.5em;
	border-bottom: px solid gray;
}

#q-graph {
	position: relative;
	width: 640px;
	height: 300px;
	margin: 1.1em 0 3.5em;
	padding: 0;
	background: #DDD;
	border: 2px solid gray;
	list-style: none;
	font: 9px Helvetica, Geneva, sans-serif;
}

#q-graph ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#q-graph li {
	position: absolute;
	bottom: 0;
	width: 160px;
	z-index: 2;
	margin: 0;
	padding: 0;
	text-align: center;
	list-style: none;
}

#q-graph li.qtr {
	padding: 0px;
	margin-left: -7px;
	height: 298px;
	padding-top: 2px;
	border: 1 px dotted green;
	border-right: 1px dotted #C4C4C4;
	color: #AAA;
}

#q-graph li.bar {
	width: 15px;
	border: 1px solid;
	border-bottom: none;
	color: #000;
}

#q-graph li.bar p {
	margin: 5px 0 0;
	padding: 0;
}

#q-graph li.sent {
	left: 13px;
	background: #DCA;
	border-color: #EDC #BA9 #000 #EDC;
}

#q-graph li.paid {
	left: 77px;
	background: #9D9;
	border-color: #CDC #9B9 #000 #BFB;
}

#q-graph #q1 {
	left: 0;
}

#q-graph #q2 {
	left: 160px;
}

#q-graph #q3 {
	left: 320px;
}

#q-graph #q4 {
	left: 480px;
	border-right: none;
}

#q-graph #ticks {
	width: 640px;
	height: 300px;
	z-index: 1;
}

#q-graph #ticks .tick {
	position: relative;
	border-bottom: 1px solid #BBB;
	width: 640px;
}

#q-graph #ticks .tick p {
	position: absolute;
	left: 100%;
	top: -0.67em;
	margin: 0 0 0 0.5em;
}

div.progress-container {
	border: 1px solid #ccc;
	width: 100px;
	margin: 2px 5px 2px 0;
	padding: 1px;
	float: left;
	background: white;
}

div.progress-container>div {
	background-color: #ACE97C;
	height: 12px
}